In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age    price
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       NaN    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000

In [5]:
import math
median_bedroom= math.floor(df.bedrooms.median())
median_bedroom

3

In [23]:
df.bedrooms=df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [29]:
df.columns = df.columns.str.strip()

In [30]:
print(df.columns.tolist())

['area', 'bedrooms', 'age', 'price']

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [32]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']],df.price)

LinearRegression()

In [33]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [34]:
reg.intercept_

383724.9999999998

In [38]:
reg.predict([[3000,3,40]])

F:\Antim_Doc_softwar\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

In [37]:
137.25*3000+-26025*3+-6825*40+383724.9999999998

444399.9999999998